html {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
    margin: 0;
    display: flex;
}
#main {
    padding-left: 1em;
    padding-right: 1em;
    flex: 1;
}
nav {
    background-color: rgba(0, 0, 0, 0.1);
}
#post-list {
    padding: 0;
    list-style: none;
}

#sitetitle, nav p, nav li a, nav .collapsor-lbl {
    margin: 0;
    padding: 0.5rem 1rem;
}
nav li a {
    display: block;
}
#sitetitle {
    display: block;
    font-size: 2em;
}
nav p {
    font-weight: bold;
    font-size: 1.2em;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

nav .collapsor {
    display: none;
}

@media (min-width: 801px) {
    body {
        min-height: 100vh;
        align-items: stretch;
    }
    nav .collapsor-lbl {
        display: none;
    }
}
@media (max-width: 800px) {
    body {
        flex-direction: column;
    }
    .primary {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .focus-capturer {
        flex: 1;
    }
    nav .collapsor-lbl {
        font-size: 2em;
    }
    #sitetitle, nav .collapsor-lbl {
        display: block;
    }
    nav .collapsible {
        display: none;
    }
    nav .focus-capturer:focus-within .collapsible, nav .collapsor:checked ~ .collapsible {
        display: block;
    }
}

@media (min-width: 451px) {
    .post-details {
        float: right;
        margin-left: 1em;
        margin-bottom: 1em;
    }
}
.post-details td, .post-details th {
    border: 1px solid grey;
}

a {
    text-decoration: none;
}
.entry-content a:hover {
    text-decoration: underline;
}

.card {
    border: 1px solid silver;
    padding: 1em;
    padding-bottom: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 0.3em;
    box-sizing: border-box;
}
.read-more {
    display: block;
    clear: both;
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    padding: 0.5em;
    margin-left: -1em;
    margin-right: -1em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}
.read-more:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid black;
    padding: 2px 8px;
}

.tags {
    padding: 0;
    margin: 0;
}
.tags li, .tags li a {
    display: inline-block;
}
.tag, .tags li a, .article-count {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 90%;
    padding: 0.25em 0.5em;
}
.tags li a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.tag, .tags li a {
    border-radius: 10%;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
.article-count {
    border-radius: 100%;
}

blockquote {
    margin: 0;
    padding-left: 1em;
    border-left: 0.1em solid silver;
}
blockquote footer {
    text-align: right;
}
blockquote footer::before {
    content: "\2014 ";
}
.codehilite pre {
    background-color: rgba(0, 0, 0, 0.02);
}
code {
    background-color: rgba(0, 0, 0, 0.05);
}
