body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    padding: 0 15vw;
}
@media(max-width: 1000px) {
    main {padding: 0 10vw;}
}
@media(max-width: 600px) {
    main {padding: 0 5vw;}
}

/* colors */
body {
    --text-color: #202020;
    --emph-color: #101010;
    --link-color: #1a0dab;
    --vlink-color: #681da8;
    --text-danger: #dc3545;
    --text-warning: #ffc107;
    --text-success: #198754;
    --text-blue: #0d6efd;
    --text-secondary: #888;
    --very-light-tint: rgba(0, 0, 0, 0.02);
    --light-tint: rgba(0, 0, 0, 0.05);
    --medium-tint: rgba(0, 0, 0, 0.1);
    --heavy-tint: rgba(0, 0, 0, 0.2);
}
@media (prefers-color-scheme: dark) {
    body {
        background: #1b1e20;
        --text-color: #c8c8c8;
        --emph-color: #e4e4e4;
        --link-color: #8ab4f8;
        --vlink-color: #c58af9;
        --text-danger: #e74c3c;
        --text-warning: #f39c12;
        --text-success: #00bc8c;
        --text-blue: #3498db;
        --very-light-tint: rgba(255, 255, 255, 0.02);
        --light-tint: rgba(255, 255, 255, 0.05);
        --medium-tint: rgba(255, 255, 255, 0.1);
        --heavy-tint: rgba(255, 255, 255, 0.2);
    }
    img:not(.nofilter), video.dark-filter {
        filter: brightness(.8) contrast(1.2);
    }
    img.no-dark {
        background-color: white;
    }
}

/* header */
header {
    display: flex;
    flex-direction: column;
    background-color: var(--light-tint);
}
header .primary {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    font-size: 2em;
}
#sitetitle {
    padding: 0.4rem 5vw;
}
#nav-collapsor {
    width: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#nav-collapsor:hover {
    cursor: pointer;
    background-color: var(--medium-tint);
}
#nav-collapsor:active {
    background-color: var(--heavy-tint);
}
nav {
    display: flex;
    flex-direction: column;
}
nav > a {
    text-decoration: none;
}
nav a:hover {
    background-color: var(--light-tint);
}
nav > a, nav > span {
    padding: 0.5rem 5vw;
}
.feed-group {
    display: flex;
    align-items: center;
}
.feed-group > *:not(:last-child) {
    margin-right: 0.25em;
}
.feed-widget {
    display: flex;
    align-items: center;
    border-radius: 0.4em;
}
.feed-widget, .article-count {
    padding: 0.2em 0.4em;
    font-size: 90%;
    color: var(--text-secondary);
    background-color: var(--light-tint);
}
.article-count {
    border-radius: 100%;
}
.feed-widget > .icon {
    margin-right: 0.2em;
}
nav > .nav-heading {
    font-weight: bold;
    font-size: 1.2em;
}
.hidden:not(:focus-within) {
    height: 0;
    overflow: hidden;
}

/* main */
a {color: var(--link-color);}
a:visited {color: var(--vlink-color);}
#post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#post-list > li {
    padding: 1rem 0;
}
#post-list > li:not(:last-child) {
    border-bottom: 1px solid var(--text-secondary);
}
.toc {
    background-color: var(--light-tint);
    padding: 1em;
}
.toctitle {
    font-size: 1.5em;
    display: block;
    margin-bottom: 0.5em;
    font-weight: 500;
}
.toc ul {
    margin: 0;
    padding-left: 1.1em;
}
.tag-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.tag-title-container > .feed-group {
    font-size: 1.5em;
}
.icon {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
}
svg.icon {
    fill: var(--text-color);
}
.inline-extlink-icon {
    width: 0.6em;
    height: 0.6em;
}
a svg.icon {
    fill: var(--link-color);
}
a:visited svg.icon {
    fill: var(--vlink-color);
}
.hori-link-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.hori-link-list > li:not(:last-child)::after {
    content: ", ";
    white-space: pre;
}
.post-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.post-date {
    flex-wrap: wrap;
}
.post-details > *, .post-details > * > * {
    display: inline-flex;
    align-items: center;
}
.post-details > *:not(:last-child) {
    margin-right: 1rem;
}
.post-details > * > *:not(:last-child) {
    margin-right: 0.4rem;
}
.fbox {
    border: 1px solid;
    padding: 0.8em;
}
.targetbox {
    display: block;
}
.targetbox:target {
    background-color: var(--light-tint);
    box-shadow: 0px 0px 5px 10px var(--light-tint);
}

/* generic */
html {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
    color: var(--text-color);
    line-height: 1.4;
    font-size: 1.1em;
}
a:not(:hover) {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: initial;
    color: var(--emph-color);
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
article h2 {
    border-bottom: 1px solid var(--light-tint);
    padding-bottom: 0.2em;
}
h2:not(:hover) > .headerlink, h3:not(:hover) > .headerlink, h4:not(:hover) > .headerlink {
    visibility: hidden;
}
.headerlink, .headerlink:visited {
    margin-left: 0.2em;
    text-decoration: none;
    color: var(--text-secondary);
}
.danger {
    color: var(--text-danger);
}
.success {
    color: var(--text-success);
}
strong, em {
    color: var(--emph-color);
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid var(--text-color);
    padding: 0.1rem 0.5rem;
}
blockquote {
    margin: 0;
    padding-left: 1em;
    border-left: 0.1em solid silver;
}
blockquote footer {
    text-align: right;
}
blockquote footer::before {
    content: "\2014 ";
}
code {
    background-color: var(--light-tint);
}
.codehilite pre {
    padding: 0;
}
.codehilite pre > code {
    background-color: var(--very-light-tint);
    padding: 0.8em;
    overflow-x: auto;
    display: block;
}
div.math, .katex-display {
    overflow-x: auto;
    overflow-y: hidden;
}
time.outdated {
    text-decoration: line-through;
}

/* figure and gallery */
figure {
    margin: 0.25em 0;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--medium-tint);
}
figure > figcaption {
    text-align: center;
    padding: 0.2rem 0.5rem;
}
figure img, figure video, figure code {
    max-width: 100%;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -0.25em;
}
.gallery > figure {
    margin: 0.25em;
}

/* details */
details {
    border: 1px solid;
    border-radius: 0.4rem;
    padding: 0.5rem 0.8rem 0;
    margin: 1em 0;
}
details > summary {
    margin: -0.5rem -0.8rem 0;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    background-color: var(--light-tint);
}
details > summary:hover {
    background-color: var(--medium-tint);
}
details[open] {
    padding: 0.5rem 0.8rem;
}
details[open] > summary {
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;
}

/* numbered headings */
.numheads {counter-reset: section;}
.numheads h2 {counter-reset: subsection;}

.numheads h2::before {
    counter-increment: section;
    content: counter(section) ". ";
}
.numheads h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) ". ";
}
.numheads h2::before, .numheads h3::before {
    color: var(--text-secondary);
    font-size: 0.9em;
}
