{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block metadata %}
    {% if article.summary or DESCRIPTION %}
<meta name="description" content="{{ article.summary|striptags|default(DESCRIPTION, true) }}" />
    {% endif %}
    {% if article.tags %}
<meta name="keywords" content="{{ article.tags|join(',') }}" />
    {% endif %}
{% endblock %}

{% block head %}{{ super() }}{% if article.extracss %}
    {% for cssfile in article.extracss.split(',') %}
        {% if cssfile.strip().startswith('http') %}
<link rel="stylesheet" href="{{cssfile.strip()}}" />
        {% else %}
<link rel="stylesheet" href="{{ SITEURL }}/{{cssfile.strip()}}" />
        {% endif %}
    {% endfor %}
{% endif %}
{% if article.mathengine == 'mathjax' %}
    {% if MATH_JAX and MATH_JAX.url %}
        {% if MATH_JAX.hub_config %}
<script type="text/x-mathjax-config">MathJax.Hub.Config({{ MATH_JAX.hub_config|tojson }});</script>
        {% endif %}
<script type="text/javascript" async="async" src="{{ MATH_JAX.url }}"></script>
    {% endif %}
{% endif %}
{% endblock %}

{% block content %}
<article id="content" class="body">
<h1 class="entry-title">{{ article.title }}</h1>
{% include 'post_details.html' %}

<div class="entry-content">
{{ article.content }}
</div>
</article>
{% endblock %}
