{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block metadata %}
    {% if article.summary %}
    <meta name="description" content="{{ article.summary|striptags }}" />
    {% endif %}
    {% if article.tags %}
    <meta name="keywords" content="{{ article.tags|join(',') }}" />
    {% endif %}
{% endblock %}

{% block content %}
<article id="content" class="body">
    <h1 class="entry-title">{{ article.title }}</h1>
    {% include 'post_details.html' %}

    <div class="entry-content">
        {{ article.content }}
    </div>
</article>
{% endblock %}
