<!DOCTYPE html>
<html{% if DEFAULT_LANG %} lang="{{ DEFAULT_LANG }}"{% endif %}>
<head>
{% block head %}
<meta charset="utf-8" />
<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{ SITEURL }}/theme/base.css" />
<meta name="color-scheme" content="light dark" />
{% block metadata %}
    {% if DESCRIPTION %}
<meta name="description" content="{{ DESCRIPTION }}" />
    {% endif %}
{% endblock %}
<script type="text/javascript">
function enableNav() {
    nav = document.getElementById('nav');
    nav.classList.add('hidden');
    collapsor = document.getElementById('nav-collapsor');
    collapsor.addEventListener('click', (event) => {
        nav.classList.toggle('hidden');
    });
}
// document.addEventListener('DOMContentLoaded', enableNav);
</script>
{% endblock head -%}
</head>
{% macro feed_tag(feed_domain, feed_name, text, type, icon) %}
<a type="application/type+xml" rel="alternate" class="feed-widget" href="{{ feed_domain }}/{{ feed_name }}">
<svg class="icon"><use xlink:href="{{ SITEURL }}/theme/sprites.svg#{{icon}}"/></svg><span>{{ text }}</span>
</a>
{%- endmacro %}

<body>
<header>
<div class="primary">
<a id="sitetitle" href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
<span id="nav-collapsor"><span>&equiv;</span></span>
</div>
<nav id="nav">
{% for title, link in MENUITEMS %}
<a href="{{ link }}">{{ title }}</a>
{% endfor %}
{% if DISPLAY_PAGES_ON_MENU %}
    {% for p in pages %}
<a{% if p == page %} class="active"{% endif %} href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
    {% endfor %}
{% endif %}
{% if FEED_ALL_RSS or FEED_ALL_ATOM %}
<span class="feed-group"><span>Feed:</span>
    {% if FEED_ALL_RSS %}
{{ feed_tag(FEED_DOMAIN, FEED_ALL_RSS, 'RSS', 'rss', 'fa-rss-square') }}
    {% endif %}
    {% if FEED_ALL_ATOM %}
{{ feed_tag(FEED_DOMAIN, FEED_ALL_ATOM, 'Atom', 'atom', 'fa-rss-square') }}
    {% endif %}
</span>
{% endif %}
{% if DISPLAY_CATEGORIES_ON_MENU %}
<span class="nav-heading">Categories</span>
    {% for cat, articles in categories %}
<a{% if cat == category %} class="active"{% endif %} href="{{ SITEURL }}/{{ cat.url }}">{{ cat }} ({{ articles|count }})</a>
    {% endfor %}
{% endif %}
{% if DISPLAY_TAGS_ON_MENU %}
<span class="nav-heading">Tags</span>
    {% for tag, articles in tags %}
<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }} <span class="article-count">{{ articles|count }}</span></a>
    {% endfor %}
{% endif %}
</nav>
</header>
<script type="text/javascript">
enableNav();
</script>

<main id="main">
{% block content %}
{% endblock %}
</main>
</body>
</html>
