<!DOCTYPE html>
<html{% if DEFAULT_LANG %} lang="{{ DEFAULT_LANG }}"{% endif %}>
<head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/base.css" />
    {% endblock head %}
</head>

<body>

<nav>
    <div class="primary">
        <a id="sitetitle" href="{{ SITEURL }}/">{{ SITENAME }}{% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
        <label for="nav-checkbox" class="collapsor-lbl"> &equiv; </label>
    </div>
    <div class="focus-capturer" tabindex="0">
        <input id="nav-checkbox" class="collapsor" type="checkbox" />
        <div class="collapsible">
            <ul>
            {% for title, link in MENUITEMS %}
                <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
                {% for p in pages %}
                    <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
            {% endif %}
            </ul>
            {% if DISPLAY_CATEGORIES_ON_MENU %}
            <p> Categories </p>
            <ul>
                {% for cat, articles in categories %}
                <li{% if cat == category %} class="active"{% endif %}>
                    <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }} ({{ articles|count }})</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if DISPLAY_TAGS_ON_MENU %}
            <p> Tags </p>
            <ul>
                {% for tag, articles in tags %}
                <li>
                    <a href="{{ SITEURL }}/{{ tag.url }}">
                    {{ tag }} <span class="article-count">{{ articles|count }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div id="main">
{% block content %}
{% endblock %}
</div>

</body>
</html>
