{% extends "base.html" %}
{% block content %}
{% block content_title %}{% endblock %}
<ol id="post-list">
{% for article in articles_page.object_list %}
<li>
    {% if article.url.startswith('http:') or article.url.startswith('https:') %}
<h2><a href="{{ article.url }}">{{ article.title }}
<svg class="icon inline-extlink-icon"><use xlink:href="{{ SITEURL }}/theme/sprites.svg#fa-external-link-alt"/></svg></a></h2>
    {% else %}
<h2><a href="{{ SITEURL }}/{{ article.url }}" >{{ article.title }}</a></h2>
    {% endif %}
    {% include 'post_details.html' %}
<div class="entry-content">{{ article.summary }}</div>
</li>
{% endfor %}
</ol>
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
{% endblock content %}
