<span class="post-details">
<span class="post-date">
<svg class="icon"><use xlink:href="{{ SITEURL }}/theme/sprites.svg#fa-calendar-alt"/></svg>
<time class="published{% if article.modified %} outdated{% endif %}" datetime="{{ article.date.isoformat() }}">{{ article.date.strftime('%d %b %Y') }}</time>
{% if article.modified %}
<time class="modified" datetime="{{ article.modified.isoformat() }}">
{{ article.modified.strftime('%d %b %Y') }}</time>
{% endif %}
</span>
{% if USE_CATEGORIES and article.category %}
<span class="post-category">{{ article.category }}</span>
{% endif %}
{% if USE_TAGS and article.tags %}
<span class="post-tags">
<svg class="icon"><use xlink:href="{{ SITEURL }}/theme/sprites.svg#fa-tags"/></svg>
<ul class="hori-link-list">
    {% for tag in article.tags %}
<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
    {% endfor %}
</ul>
</span>
{% endif %}
{% if SHOW_AUTHORS and article.authors %}
<span class="post-authors">
<span>by</span>
<ul class="hori-link-list">
    {% for author in article.authors %}
<li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></li>
    {% endfor %}
</ul>
</span>
{% endif %}
</span>
